<ion-view view-title="Perdi">
  <ion-content class="padding">
    <ion-list>
        <label class="item item-input item-stacked-label">
            <span class="input-label">O que você perdeu?</span>
            <input type="text" placeholder="" ng-model="perdido.nome">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Quando?</span>
            <input type="date" placeholder="" ng-model="perdido.dia">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Onde?</span>
            <input type="text" placeholder="" ng-model="perdido.localidade">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Cor</span>
            <input type="text" placeholder="" ng-model="pediperdidodo.cor">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Marca</span>
            <input type="text" placeholder="" ng-model="perdido.marca">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Característica</span>
            <input type="text" placeholder="" ng-model="perdido.caracteristica">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Complemento</span>
            <input type="text" placeholder="" ng-model="perdido.complemento">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Reconpensa</span>
            <input type="number" placeholder="" ng-model="perdido.recompensa">
        </label>
    </ion-list>
        <button class="button button-positive  button-block" ng-click="salvar(perdido)">Salvar</button>
  </ion-content>
</ion-view>
